## Project 1: Predict House price

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
data_train = pd.read_csv("c:/personal/edvancer/proj/proj 1/housing_train.csv")
data_test = pd.read_csv("c:/personal/edvancer/proj/proj 1/housing_test.csv")

## Check type of data for overview

In [3]:
data_train.shape

(7536, 16)

In [4]:
data_test.shape

(1885, 15)

In [5]:
data_train.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea
0,Brunswick,52 Evans St,3,h,1650000,S,Nelson,5.2,3056,3.0,1.0,2.0,495.0,141.0,1920.0,Moreland
1,Reservoir,85 Radford Rd,5,h,791000,S,Ray,11.2,3073,4.0,3.0,1.0,961.0,NaN,NaN,Darebin
2,Newport,99 Anderson St,3,h,785000,S,RT,8.4,3015,3.0,1.0,1.0,185.0,NaN,NaN,Hobsons Bay
3,Brighton East,4/377 South Rd,2,u,755000,SP,Buxton,10.7,3187,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Hawthorn East,3 Jaques St,5,h,2500000,VB,RT,7.5,3123,5.0,3.0,3.0,757.0,240.0,1925.0,Boroondara

In [6]:
data_test.head()

,Suburb,Address,Rooms,Type,Method,SellerG,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea
0,Abbotsford,6/241 Nicholson St,1,u,S,Biggin,2.5,3067,1.0,1.0,1.0,0.0,NaN,NaN,Yarra
1,Abbotsford,403/609 Victoria St,2,u,S,Dingle,2.5,3067,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abbotsford,106/119 Turner St,1,u,SP,Purplebricks,2.5,3067,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abbotsford,22 Park St,4,h,S,Biggin,2.5,3067,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abbotsford,78 Yarra St,3,h,S,LITTLE,2.5,3067,2.0,1.0,1.0,138.0,105.0,1890.0,Yarra

## Check for col_names and data types

In [7]:
data_train.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize',
       'BuildingArea', 'YearBuilt', 'CouncilArea'],
      dtype='object')

In [8]:
data_test.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Method', 'SellerG', 'Distance',
       'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
       'YearBuilt', 'CouncilArea'],
      dtype='object')

In [9]:
data_train.dtypes

Suburb           object
Address          object
Rooms             int64
Type             object
Price             int64
Method           object
SellerG          object
Distance        float64
Postcode          int64
Bedroom2        float64
Bathroom        float64
Car             float64
Landsize        float64
BuildingArea    float64
YearBuilt       float64
CouncilArea      object
dtype: object

## Overview of numeric cols(3M, NA's in data)

In [11]:
data_train.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt
count,7536.000000,7.536000e+03,7536.000000,7536.000000,5977.000000,5977.000000,5977.000000,5972.000000,3327.000000,3819.000000
mean,2.844214,1.069723e+06,8.721510,3095.881237,2.786180,1.499247,1.510624,452.447756,143.047190,1961.046085
std,0.960473,6.579961e+05,3.620942,59.966382,0.944648,0.700240,0.919044,1307.232468,119.053813,37.478158
min,1.000000,8.500000e+04,1.200000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1830.000000
25%,2.000000,6.300000e+05,5.900000,3044.000000,2.000000,1.000000,1.000000,124.750000,88.000000,1930.000000
50%,3.000000,8.900000e+05,9.000000,3081.000000,3.000000,1.000000,1.000000,329.500000,121.000000,1965.000000
75%,3.000000,1.325000e+06,11.400000,3145.000000,3.000000,2.000000,2.000000,615.000000,170.000000,1997.000000
max,9.000000,6.500000e+06,15.000000,3207.000000,9.000000,8.000000,8.000000,75100.000000,3558.000000,2018.000000

In [13]:
data_train.isnull().sum(axis = 0)

Suburb             0
Address            0
Rooms              0
Type               0
Price              0
Method             0
SellerG            0
Distance           0
Postcode           0
Bedroom2        1559
Bathroom        1559
Car             1559
Landsize        1564
BuildingArea    4209
YearBuilt       3717
CouncilArea     1564
dtype: int64

## Same number of NA's in bedroom. bathroom, car 
Landsize and Council Area
Random for Landsize and BuildingArea

In [17]:
data_train.isnull().sum(axis = 1)

0       0
1       2
2       2
3       7
4       0
5       2
6       1
7       2
8       7
9       0
10      7
11      0
12      1
13      2
14      0
15      7
16      0
17      2
18      0
19      1
20      7
21      0
22      0
23      0
24      1
25      2
26      2
27      0
28      0
29      0
       ..
7506    7
7507    1
7508    2
7509    0
7510    1
7511    2
7512    0
7513    0
7514    7
7515    7
7516    2
7517    0
7518    2
7519    7
7520    2
7521    2
7522    2
7523    2
7524    0
7525    0
7526    7
7527    0
7528    0
7529    2
7530    0
7531    1
7532    2
7533    7
7534    2
7535    7
Length: 7536, dtype: int64

## Scaling for numerical values
    1: Min-Max Scaler
    2: Standard Scaler
    3: Rank Scaler
    4: Log and other root (Fractional power) Scaler
    5: Normalization
    6: Variable transformers (ReciprocalTransformer/ExponentialTransformer/BoxCoxTransformer/QuantileTransformer/Yeo-Johnson/Discretization and other )

## Filling NA's for both Numeric and Categorical
    1: Fill NA using 3M Mean/Median/Mode
    2: Random value
    3: Check for correlation of NA and output values
    4: Probability ratio encoding
    5: For categorical, fill NA's with categories in test data which are not in train data
    fancyimpute, missingno, impyute, missingpy

## Outlier handling
    1: ArbitraryOutlierCapper. Minimum and Maximum
    2: ArbitraryOutlierCapper
    3: Gaussian/Skewed distribution and right tail
    4: Top/Botton coding.
    5: Discretisation

## Feature generation
    1: New feature by combining existing one's, like fractional part of whole number
    2: From business knowledge
    3: Using EDA
    4: Add new col for missing values
    5: Interaction of Categorical and other feature
    6: intrduce new information
    7: Matric fatorization, transform categorical into real values
    8: new features using +/-/*/ //
    9:tSNE for data visualtion

## Categorical Encoding
    1: One hot encoding (Mostly linear)
    2: Replacing labels by the count for trees based (increase performance)
        a: Differental for KNN and linear model 
        b: Frequency encoding (Trees)
    3: Ordering labels according to target
    4: Replacing labels by Risk
    5: WoE
    6: Add all rare lable udder one col
    7: Rank data

## Date and Geo Coordinates
    1: Periodicity
    2: Time Since
    3: Difference between dates

## Text Data
    1: Use TDIF
        Large vector values
    2: Word to vec
        small vector
    3: n-grams word vector

## EDA
    1: Domain Knowledge, read wiki google about it
    2: how data was generated
        3: Check if train and test were generated with same algo or different algo was used
        4: Do EDA on both to check abov point
        5: Explore individual feature
        6: Check df.types, df.info, df.descrie,x.value_counts, x.isnull, x.mean, x.var
        7: Histograms for inputs, varry number of bins, plot scaled features, varry plots 
        8: plot row index vs feature value. 
        9: Scatter plot, for train and test sets
        10:pd.scatter_matrix to check reation for all features with histograms at same time
            11: Run kmeams on corrplot to check to reorder fearures
            12: Feature mean, sort values and plot

## Data cleaning
        1: remove dumpicate/constant features from data. Check same in test and train data. If same in train but changes in test remove it
        2: Do label encoding and check of any 2 features are common  now.
            for f in cat_features
                df[f] = df.factorize()
                
            df.T.drop_duplicates()
        3: check if data is shuffled

## Validation 
    1: Holdout --> k-folds with k =1
    2: K fold
    3: Leave one out
    4: Stratification 
        small
        imbalenced
        multiclass

## data Split
    1: Based on generated features
    2: model reliance on feature
    3: in some kind of target leak i.e one variable is able to split data more like test data
    4: Random, time (moving window from start till a point and extend window with each iteration) , id and all combined
        Check deloitte rental price competetion 
    5: Select model which have same algo as train test in main model

## Validation
    1: too less data as compared to patterns in data
    2: too diverse data 
##    3: Try to mimic train test split

## data leaks
    1: Id are not random always, can hash of some info, check plot of ID with target 
    2: check row order as they might have same/near by values
## Loss vs metric
    1: For RMSE metric, check with all constants for target value to get tunning
    RMSE: Constant is mean
    MAE: Constant is median
    MSPE: Weigthed target mean
    2: median for MAE less sensitive to outliers
    For Relative errors:
    3: MAPE : Mean Absolute percentage error --> like MAE constant is mean
    4: MSPE : Mean Square percentage error --> like RMSE constant is median'
    5: RMSLE: Root mean square log error
    6:

## Mean encoding for categotical features, add new feature
    1: Mean of target for cat variable
    2: Log of mean (Weight of ecidence)
    3: Count of target
    4: Diff = good -bad 
        ## Regilizatio of this
        1: CV validation
            
        2: Smoothing
            = (mean* nrows + (global mean * alpha)) / (nrows + alpha)
        3: Adding random NOise
        4: Sorting and Calculating expanding mean
            best, need to buidl it in, already in catboost
            
                cumsum = df_tr.groupby(col)[target].cumsum() - df_tr[train]
                cumcnt = df_tr.groupby(col)[target].count()
                train_new[col + '_mean_target'] = cumsum/cnt

## hyper parameter tunning
    1: Check factorization machines
    2: Automatic parameter tunning
        1: hyperopt
        2: scikit-optimize
        3: Spearmint
        4: gPyopt
        5: RoBo
        6: SMAC3
    3: Three groups
        a:
            1: increase leads to reduce over fitting. MOve from over fitting to udef fitting
            2: Decrease allows to fit model better
        b:
            1: Decrease leads to over fits.
            2: Increase Leads to better fit of general model.
            
## Tress
    ##XGBOOST
        1: High values (better fits for general model (b))
            1: Max_depth, if goes beyond ~30, generate new features for data to reduce it. start ~7
            2: subsample (0,1) use~
            3: Colsample_bytree
            4: Colsample_bylevel
            5: eta 0.1, 0.001
            6: num_rounds
        2: low values (better fits to generalize model (a))
            1: Mean child weight
            2: alpha
            3: Lambda
            
        
    ##lightGBM
        1: High values (better fits for general model (b))
            1: num_leaf, if goes beyond ~30, generate new features for data to reduce it. start ~7
            2: bagging_fraction
            3: feature_fraction 
            4: Learing rate
            5: num rounds
        2: low values (better fits to generalize model (a))     
            1: min_data_in_leaf
            2: Lambda_1, lambda_2
            
      ## Random forest
          1: n_estimators
          2: max_depth ~7
          3: max_features
          4: min_sample_leaves 
          
      ## nueral net
          1: number of neurons per layer
          2: Number of layers
          3: Adam/Adadelta/Adagrad
          4: batch size
          5: epchos 
          6: learning rate 
              Regularization
              1: L1/L2 for weights 
              2: Dropout/Dropconnect
              3: Static drop connect
              
              
        ## Divede params
        1: Importance: Prams which needs to be tuned first.
        2: Feasibility: These can/cannot be tunned.
        3: Understanding: Knwow how a param changes output
        
        Convert data to hdf5/npy format for faster processing, use chunk size in read_csv for low data loading in memory

## Esemble 
    1: Diversity in algo
        a: Gradient boosting (lightGBM,XGBOOST, Catboost)
        b: Neural net (Keras, pytorch)
        c: Extra trees/Random forest
        d: Linear models (L1/L2), Logistic, SVM
        e: KNN
        f: Factorization machine libfm
        g: SVM non linear kernel
    2: Diversity on input
        a: One hot encoding, label encoding, target encoding
        b: outliers limiting, binning, perceitiles, 
        c: Colums interaction +,-,*,/, group by
        
  NEXT Level
  
      1: Simpler(shallow algo)
          a: gradient boosting with small depth
          b: linear with hight regularlization
          c: Less extra trees
          d: Shallow network (1 or 2 hidden layer)
          e: KNN by BrayCurtis 
          f: Brute force for lienar best linear model
      2: pairwise difference for meta features
         Row wise mean/median/mode 
   ***** Check for data leakage ******